.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../splash.png') 50% 50% no-repeat rgb(43, 43, 43);
  opacity: 1;
}

body {
  background-image: url('../KTBG3.jpg');
  background-repeat: no-repeat;
  background-color: #2b2b2b;
  background-attachment: fixed;
  background-position: center;
  align-items: center;
  justify-content: center;
  font-family: 'kalam', cursive;
  color: #fff;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 14px;
  margin-top: 0px;
  text-indent: 0px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  line-height: 22px;
  font-weight: light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b {
  font-size: 30px;
  margin-bot: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#tuningNeck {
  margin-top: -50px;
}

#dropdownNeck {
  margin-top: 256px;
}

#neckView {
  left: 200px;
  top: 50px;
  position: absolute;
  text-align: center;
}

#tabViewDiv {
  border-radius: 4px;
  vertical-align: middle;
  text-align: center;
  float: right;
  margin-top: -30px;
  display: block;
  position: relative;
}

#neckHeadersWrap {
  border-radius: 4px;
  vertical-align: middle;
  text-align: center;
  float: right;
  margin-top: 0px;
  display: block;
  position: absolute;
  width: 700px;
}

#pianoHeadersWrap {
  border-radius: 4px;
  vertical-align: middle;
  text-align: center;
  float: right;
  margin-top: -220px;
  display: block;
  position: relative;
  width: 700px;
}

#majorTopP, #minorTopP, #majorBotP, #minorBotP {
  display: inline-block;
  text-align: center;
  width: 50%;
  height: 70px;
  background-color: transparent;
  font-size: 30px;
  float: left;
}

#headerTopP, #headerBotP {
  background-color: transparent;
  height: 55px;
}

#headerTopN, #headerBotN {
  background-color: transparent;
  height: 55px;
}

#majorTopN, #minorTopN, #majorBotN, #minorBotN {
  float: left;
  width: 50%;
  height: 70px;
  background-color: transparent;
  font-size: 30px;
}

#majorTop, #minorTop, #majorBot, #minorBot {
  float: left;
  width: 50%;
  height: 70px;
  background-color: transparent;
  font-size: 30px;
}

#inputNeckDiv {
  top: 460px;
  left: 0px;
  position: absolute;
}

#headerTop, #headerBot {
  background-color: transparent;
  height: 55px;
}

#filler {
  height: 30px;
}

#nav {
  width: 900px;
  position: relative;
  min-height: 60px;
}

#logo {
  width: 200px;
  float: left;
}

#navLinks {
  width: 200px;
  float: left;
  min-height: 60px;
  position: relative;
  top: 7px;
}

#empty {
  width: auto;
  float: right;
}

#sideWrap {
  text-align: right;
  clear: both;
  float: left;
  width: 150px;
}

#sidebar {
  width: 150px;
  height: 460px;
  clear: both;
  float: left;
}

#pageDiv {
  width: 900px;
  height: 620px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(20, 20, 20, 0.9);
}

#inputDiv {
  margin-top: 15px;
}

#userTextBox, #userTextBoxPiano, #userTextBoxNeck {
  width: 700px;
  padding: 12px 20px;
  margin: 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font: 1.5em/1.5em 'kalam', cursive;
  text-align: center;
  height: 60px;
}

#contentDiv {
  position: relative;
}

#howToDiv {
  position: absolute;
  height: 600px;
  padding: 20px;
  left: 170px;
  top: -40px;
  border-radius: 4px;
  vertical-align: middle;
  text-align: left;
  float: right;
  overflow-y: auto;
  display: hidden;
}

#faqDiv {
  position: absolute;
  height: 580px;
  padding: 20px;
  left: 170px;
  top: -30px;
  border-radius: 4px;
  vertical-align: middle;
  text-align: left;
  float: right;
  overflow-y: auto;
  display: hidden;
}

#social {
  text-align: right;
}

#botLinks {
  position: absolute;
  bottom: 120px;
  right: 770px;
}

.hiddenPiano {
  opacity: 0;
  transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  z-index: 0;
}

.showPiano {
  opacity: 1;
  transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  z-index: 1;
}

.hidden {
  opacity: 0;
  transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  z-index: 0;
}

.show {
  opacity: 1;
  transition: opacity .5s linear;
  -webkit-transition: opacity .5s linear;
  -moz-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  z-index: 1;
}

.sideButton {
  text-align: right;
  padding-bottom: 3px;
}

.stringCell {
  display: inline-block;
  letter-spacing: .2em;
  font-family: 'PT Mono', monospace;
  font-size: 40px;
}

.barCell {
  display: inline-block;
  letter-spacing: .2em;
  font-family: 'PT Mono', monospace;
  font-size: 30px;
}

.big {
  font-size: 1.5em;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.custom-dropdown select {
  background: linear-gradient(270deg, #3c3748, #4f4c26, #27486d);
  background-size: 600% 600%;
  -webkit-animation: listGradient 30s ease infinite;
  -moz-animation: listGradient 30s ease infinite;
  animation: listGradient 30s ease infinite;
  background-color: rgba(20, 20, 20, .9);
  color: #ffffff;
  /* Font color */
  font-size: inherit;
  font-family: 'kalam', cursive;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-overflow: '';
  -webkit-appearance: button;
  /* hide default arrow in chrome OSX */
  -moz-appearance: button;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after {
  /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before {
  /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

/* Underline From Right */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-right:hover:before, .hvr-underline-from-right:focus:before,
.hvr-underline-from-right:active:before {
  left: 0;
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 2px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before,
.hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

#faqDiv::-webkit-scrollbar-track, #howToDiv::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2b2b2b;
}

#faqDiv::-webkit-scrollbar, #howToDiv::-webkit-scrollbar {
  width: 8px;
  background-color: #2b2b2b;
}

#faqDiv::-webkit-scrollbar-thumb, #howToDiv::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 0px solid #555555;
}

@-webkit-keyframes listGradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes listGradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes listGradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

#inputPianoDiv {
  margin: 0 auto;
  top: 510px;
  position: absolute;
}

#pianoViewDiv {
  left: 200px;
  margin-top: -30px;
  position: relative;
  text-align: center;
  display: hidden;
}

#topPianoWrap {
  left: 70px;
  top: 0;
  display: block;
  position: absolute;
  width: 558px;
  height: 351px;
  z-index: 1;
}

#TopPiano-01 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 123px;
  height: 242px;
}

#TopPiano-02 {
  position: absolute;
  left: 123px;
  top: 0px;
  width: 84px;
  height: 242px;
}

#TopPiano-03 {
  position: absolute;
  left: 207px;
  top: 0px;
  width: 72px;
  height: 242px;
}

#TopPiano-04 {
  position: absolute;
  left: 279px;
  top: 0px;
  width: 78px;
  height: 242px;
}

#TopPiano-05 {
  position: absolute;
  left: 357px;
  top: 0px;
  width: 77px;
  height: 242px;
}

#TopPiano-06 {
  position: absolute;
  left: 434px;
  top: 0px;
  width: 80px;
  height: 242px;
}

#TopPiano-07 {
  position: absolute;
  left: 514px;
  top: 0px;
  width: 44px;
  height: 242px;
}

#TopPiano-08 {
  position: absolute;
  left: 0px;
  top: 242px;
  width: 84px;
  height: 109px;
}

#TopPiano-09 {
  position: absolute;
  left: 84px;
  top: 242px;
  width: 79px;
  height: 109px;
}

#TopPiano-10 {
  position: absolute;
  left: 163px;
  top: 242px;
  width: 79px;
  height: 109px;
}

#TopPiano-11 {
  position: absolute;
  left: 242px;
  top: 242px;
  width: 77px;
  height: 109px;
}

#TopPiano-12 {
  position: absolute;
  left: 319px;
  top: 242px;
  width: 77px;
  height: 109px;
}

#TopPiano-13 {
  position: absolute;
  left: 396px;
  top: 242px;
  width: 78px;
  height: 109px;
}

#TopPiano-14 {
  position: absolute;
  left: 474px;
  top: 242px;
  width: 84px;
  height: 109px;
}

#bottomPianoWrap {
  top: 0;
  left: 70px;
  position: absolute;
  width: 558px;
  height: 351px;
  z-index: 0;
}

#BottomPiano-01 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 123px;
  height: 242px;
}

#BottomPiano-02 {
  position: absolute;
  left: 123px;
  top: 0px;
  width: 84px;
  height: 242px;
}

#BottomPiano-03 {
  position: absolute;
  left: 207px;
  top: 0px;
  width: 72px;
  height: 242px;
}

#BottomPiano-04 {
  position: absolute;
  left: 279px;
  top: 0px;
  width: 78px;
  height: 242px;
}

#BottomPiano-05 {
  position: absolute;
  left: 357px;
  top: 0px;
  width: 77px;
  height: 242px;
}

#BottomPiano-06 {
  position: absolute;
  left: 434px;
  top: 0px;
  width: 80px;
  height: 242px;
}

#BottomPiano-07 {
  position: absolute;
  left: 514px;
  top: 0px;
  width: 44px;
  height: 242px;
}

#BottomPiano-08 {
  position: absolute;
  left: 0px;
  top: 242px;
  width: 84px;
  height: 109px;
}

#BottomPiano-09 {
  position: absolute;
  left: 84px;
  top: 242px;
  width: 79px;
  height: 109px;
}

#BottomPiano-10 {
  position: absolute;
  left: 163px;
  top: 242px;
  width: 79px;
  height: 109px;
}

#BottomPiano-11 {
  position: absolute;
  left: 242px;
  top: 242px;
  width: 77px;
  height: 109px;
}

#BottomPiano-12 {
  position: absolute;
  left: 319px;
  top: 242px;
  width: 77px;
  height: 109px;
}

#BottomPiano-13 {
  position: absolute;
  left: 396px;
  top: 242px;
  width: 78px;
  height: 109px;
}

#BottomPiano-14 {
  position: absolute;
  left: 474px;
  top: 242px;
  width: 84px;
  height: 109px;
}

/*


Neck styles start here!!!


*/
#gNeckWrapper {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 700px;
  height: 130px;
}

#gNeck1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck2 {
  position: absolute;
  left: 34px;
  top: 0px;
  width: 45px;
  height: 45px;
}

#gNeck3 {
  position: absolute;
  left: 79px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck4 {
  position: absolute;
  left: 113px;
  top: 0px;
  width: 34px;
  height: 45px;
}

#gNeck5 {
  position: absolute;
  left: 147px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck6 {
  position: absolute;
  left: 181px;
  top: 0px;
  width: 33px;
  height: 45px;
}

#gNeck7 {
  position: absolute;
  left: 214px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck8 {
  position: absolute;
  left: 248px;
  top: 0px;
  width: 26px;
  height: 45px;
}

#gNeck9 {
  position: absolute;
  left: 274px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck10 {
  position: absolute;
  left: 308px;
  top: 0px;
  width: 26px;
  height: 45px;
}

#gNeck11 {
  position: absolute;
  left: 334px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck12 {
  position: absolute;
  left: 368px;
  top: 0px;
  width: 20px;
  height: 45px;
}

#gNeck13 {
  position: absolute;
  left: 388px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck14 {
  position: absolute;
  left: 422px;
  top: 0px;
  width: 18px;
  height: 45px;
}

#gNeck15 {
  position: absolute;
  left: 440px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck16 {
  position: absolute;
  left: 474px;
  top: 0px;
  width: 15px;
  height: 45px;
}

#gNeck17 {
  position: absolute;
  left: 489px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck18 {
  position: absolute;
  left: 523px;
  top: 0px;
  width: 13px;
  height: 45px;
}

#gNeck19 {
  position: absolute;
  left: 536px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck20 {
  position: absolute;
  left: 570px;
  top: 0px;
  width: 9px;
  height: 45px;
}

#gNeck21 {
  position: absolute;
  left: 579px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck22 {
  position: absolute;
  left: 613px;
  top: 0px;
  width: 8px;
  height: 45px;
}

#gNeck23 {
  position: absolute;
  left: 621px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck24 {
  position: absolute;
  left: 655px;
  top: 0px;
  width: 7px;
  height: 45px;
}

#gNeck25 {
  position: absolute;
  left: 662px;
  top: 0px;
  width: 34px;
  height: 9px;
}

#gNeck26 {
  position: absolute;
  left: 696px;
  top: 0px;
  width: 4px;
  height: 130px;
}

#gn65 {
  position: absolute;
  left: 0px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn66 {
  position: absolute;
  left: 79px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn67 {
  position: absolute;
  left: 147px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn68 {
  position: absolute;
  left: 214px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn69 {
  position: absolute;
  left: 274px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn70 {
  position: absolute;
  left: 334px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn71 {
  position: absolute;
  left: 388px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn72 {
  position: absolute;
  left: 440px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn73 {
  position: absolute;
  left: 489px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn74 {
  position: absolute;
  left: 536px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn75 {
  position: absolute;
  left: 579px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn76 {
  position: absolute;
  left: 621px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn77 {
  position: absolute;
  left: 662px;
  top: 9px;
  width: 34px;
  height: 18px;
}

#gn52 {
  position: absolute;
  left: 0px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn53 {
  position: absolute;
  left: 79px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn54 {
  position: absolute;
  left: 147px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn55 {
  position: absolute;
  left: 214px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn56 {
  position: absolute;
  left: 274px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn57 {
  position: absolute;
  left: 334px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn58 {
  position: absolute;
  left: 388px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn59 {
  position: absolute;
  left: 440px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn60 {
  position: absolute;
  left: 489px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn61 {
  position: absolute;
  left: 536px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn62 {
  position: absolute;
  left: 579px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn63 {
  position: absolute;
  left: 621px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn64 {
  position: absolute;
  left: 662px;
  top: 27px;
  width: 34px;
  height: 18px;
}

#gn39 {
  position: absolute;
  left: 0px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck54 {
  position: absolute;
  left: 34px;
  top: 45px;
  width: 45px;
  height: 38px;
}

#gn40 {
  position: absolute;
  left: 79px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck56 {
  position: absolute;
  left: 113px;
  top: 45px;
  width: 34px;
  height: 38px;
}

#gn41 {
  position: absolute;
  left: 147px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck58 {
  position: absolute;
  left: 181px;
  top: 45px;
  width: 33px;
  height: 38px;
}

#gn42 {
  position: absolute;
  left: 214px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck60 {
  position: absolute;
  left: 248px;
  top: 45px;
  width: 26px;
  height: 38px;
}

#gn43 {
  position: absolute;
  left: 274px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck62 {
  position: absolute;
  left: 308px;
  top: 45px;
  width: 26px;
  height: 38px;
}

#gn44 {
  position: absolute;
  left: 334px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck64 {
  position: absolute;
  left: 368px;
  top: 45px;
  width: 20px;
  height: 38px;
}

#gn45 {
  position: absolute;
  left: 388px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck66 {
  position: absolute;
  left: 422px;
  top: 45px;
  width: 18px;
  height: 38px;
}

#gn46 {
  position: absolute;
  left: 440px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck68 {
  position: absolute;
  left: 474px;
  top: 45px;
  width: 15px;
  height: 38px;
}

#gn47 {
  position: absolute;
  left: 489px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck70 {
  position: absolute;
  left: 523px;
  top: 45px;
  width: 13px;
  height: 38px;
}

#gn48 {
  position: absolute;
  left: 536px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck72 {
  position: absolute;
  left: 570px;
  top: 45px;
  width: 9px;
  height: 38px;
}

#gn49 {
  position: absolute;
  left: 579px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck74 {
  position: absolute;
  left: 613px;
  top: 45px;
  width: 8px;
  height: 38px;
}

#gn50 {
  position: absolute;
  left: 621px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gNeck76 {
  position: absolute;
  left: 655px;
  top: 45px;
  width: 7px;
  height: 38px;
}

#gn51 {
  position: absolute;
  left: 662px;
  top: 45px;
  width: 34px;
  height: 19px;
}

#gn26 {
  position: absolute;
  left: 0px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn27 {
  position: absolute;
  left: 79px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn28 {
  position: absolute;
  left: 147px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn29 {
  position: absolute;
  left: 214px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn30 {
  position: absolute;
  left: 274px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn31 {
  position: absolute;
  left: 334px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn32 {
  position: absolute;
  left: 388px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn33 {
  position: absolute;
  left: 440px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn34 {
  position: absolute;
  left: 489px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn35 {
  position: absolute;
  left: 536px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn36 {
  position: absolute;
  left: 579px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn37 {
  position: absolute;
  left: 621px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn38 {
  position: absolute;
  left: 662px;
  top: 64px;
  width: 34px;
  height: 19px;
}

#gn13 {
  position: absolute;
  left: 0px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck92 {
  position: absolute;
  left: 34px;
  top: 83px;
  width: 45px;
  height: 47px;
}

#gn14 {
  position: absolute;
  left: 79px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck94 {
  position: absolute;
  left: 113px;
  top: 83px;
  width: 34px;
  height: 47px;
}

#gn15 {
  position: absolute;
  left: 147px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck96 {
  position: absolute;
  left: 181px;
  top: 83px;
  width: 33px;
  height: 47px;
}

#gn16 {
  position: absolute;
  left: 214px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck98 {
  position: absolute;
  left: 248px;
  top: 83px;
  width: 26px;
  height: 47px;
}

#gn17 {
  position: absolute;
  left: 274px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck100 {
  position: absolute;
  left: 308px;
  top: 83px;
  width: 26px;
  height: 47px;
}

#gn18 {
  position: absolute;
  left: 334px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck102 {
  position: absolute;
  left: 368px;
  top: 83px;
  width: 20px;
  height: 47px;
}

#gn19 {
  position: absolute;
  left: 388px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck104 {
  position: absolute;
  left: 422px;
  top: 83px;
  width: 18px;
  height: 47px;
}

#gn20 {
  position: absolute;
  left: 440px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck106 {
  position: absolute;
  left: 474px;
  top: 83px;
  width: 15px;
  height: 47px;
}

#gn21 {
  position: absolute;
  left: 489px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck108 {
  position: absolute;
  left: 523px;
  top: 83px;
  width: 13px;
  height: 47px;
}

#gn22 {
  position: absolute;
  left: 536px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck110 {
  position: absolute;
  left: 570px;
  top: 83px;
  width: 9px;
  height: 47px;
}

#gn23 {
  position: absolute;
  left: 579px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck112 {
  position: absolute;
  left: 613px;
  top: 83px;
  width: 8px;
  height: 47px;
}

#gn24 {
  position: absolute;
  left: 621px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gNeck114 {
  position: absolute;
  left: 655px;
  top: 83px;
  width: 7px;
  height: 47px;
}

#gn25 {
  position: absolute;
  left: 662px;
  top: 83px;
  width: 34px;
  height: 18px;
}

#gn0 {
  position: absolute;
  left: 0px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn1 {
  position: absolute;
  left: 79px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn2 {
  position: absolute;
  left: 147px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn3 {
  position: absolute;
  left: 214px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn4 {
  position: absolute;
  left: 274px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn5 {
  position: absolute;
  left: 334px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn6 {
  position: absolute;
  left: 388px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn7 {
  position: absolute;
  left: 440px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn8 {
  position: absolute;
  left: 489px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn9 {
  position: absolute;
  left: 536px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn10 {
  position: absolute;
  left: 579px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn11 {
  position: absolute;
  left: 621px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gn12 {
  position: absolute;
  left: 662px;
  top: 101px;
  width: 34px;
  height: 18px;
}

#gNeck129 {
  position: absolute;
  left: 0px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck130 {
  position: absolute;
  left: 79px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck131 {
  position: absolute;
  left: 147px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck132 {
  position: absolute;
  left: 214px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck133 {
  position: absolute;
  left: 274px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck134 {
  position: absolute;
  left: 334px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck135 {
  position: absolute;
  left: 388px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck136 {
  position: absolute;
  left: 440px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck137 {
  position: absolute;
  left: 489px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck138 {
  position: absolute;
  left: 536px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck139 {
  position: absolute;
  left: 579px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck140 {
  position: absolute;
  left: 621px;
  top: 119px;
  width: 34px;
  height: 11px;
}

#gNeck141 {
  position: absolute;
  left: 662px;
  top: 119px;
  width: 34px;
  height: 11px;
}